@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html, body {
  height: 100%;
  width: 100%;
  font-family: "MullerNextWideTrial", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


/* MullerNextWideTrial Thin */
@font-face {
  font-family: "MullerNextWideTrial";
  src: url("/fonts/muller-next/MullerNextWideTrial-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* MullerNextWideTrial Thin Italic */
@font-face {
  font-family: "MullerNextWideTrial";
  src: url("/fonts/muller-next/MullerNextWideTrial-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* MullerNextWideTrial Regular */
@font-face {
  font-family: "MullerNextWideTrial";
  src: url("/fonts/muller-next/MullerNextWideTrial-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* MullerNextWideTrial Regular Italic */
@font-face {
  font-family: "MullerNextWideTrial";
  src: url("/fonts/muller-next/MullerNextWideTrial-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* MullerNextWideTrial ExtraBold */
@font-face {
  font-family: "MullerNextWideTrial";
  src: url("/fonts/muller-next/MullerNextWideTrial-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* MullerNextWideTrial ExtraBold Italic */
@font-face {
  font-family: "MullerNextWideTrial";
  src: url("/fonts/muller-next/MullerNextWideTrial-ExtraBoldItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* MullerNextWideTrial Heavy */
@font-face {
  font-family: "MullerNextWideTrial";
  src: url("/fonts/muller-next/MullerNextWideTrial-Heavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* MullerNextWideTrial Heavy Italic */
@font-face {
  font-family: "MullerNextWideTrial";
  src: url("/fonts/muller-next/MullerNextWideTrial-HeavyItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* MullerNextExpandedTrial ExtraBold */
@font-face {
  font-family: "MullerNextExpandedTrial";
  src: url("/fonts/muller-next/MullerNextExpandedTrial-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}


:root {
  --bg: #ffffff;
  --text: #000000;
}

.dark {
  --bg: #ffffff;
  --text: #f5f5f5;
}

body {
  background: var(--bg);
  color: var(--text);
}


@layer utilities {
  .flex-gap_ {
    @apply flex gap-4;
  }

  .flex-center_ {
    @apply flex items-center justify-center;
  }
  .flex-between_ {
    @apply flex items-center justify-between;
  }
  .flex-end_ {
    @apply flex items-end justify-end;
  }
  .flex-start_ {
    @apply flex items-start justify-start;
  }

  .card_ {
    @apply rounded-xl p-4;
  }
  .font-expanded {
    font-family: "MullerNextExpandedTrial", "MullerNextWideTrial", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  .button-text_ {
    @apply relative transition-all duration-300 cursor-pointer;
  }
  .button-text_:hover {
    @apply text-blue-500;
  }
  .button-text_::after {
    @apply absolute h-0.5 w-full bg-blue-500 -bottom-1 left-0 content-[''] scale-x-0
      origin-bottom-right transition-transform duration-300;
  }
  .button-text_:hover::after {
    @apply scale-x-100 origin-bottom-left;
  }
}
