@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html, body {
  height: 100%;
  width: 100%;
  font-family: "MullerNextWideTrial", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


/* MullerNextWideTrial Thin */
@font-face {
  font-family: "MullerNextWideTrial";
  src: url("/fonts/muller-next/MullerNextWideTrial-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* MullerNextWideTrial Thin Italic */
@font-face {
  font-family: "MullerNextWideTrial";
  src: url("/fonts/muller-next/MullerNextWideTrial-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* MullerNextWideTrial Regular */
@font-face {
  font-family: "MullerNextWideTrial";
  src: url("/fonts/muller-next/MullerNextWideTrial-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* MullerNextWideTrial Regular Italic */
@font-face {
  font-family: "MullerNextWideTrial";
  src: url("/fonts/muller-next/MullerNextWideTrial-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* MullerNextWideTrial ExtraBold */
@font-face {
  font-family: "MullerNextWideTrial";
  src: url("/fonts/muller-next/MullerNextWideTrial-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* MullerNextWideTrial ExtraBold Italic */
@font-face {
  font-family: "MullerNextWideTrial";
  src: url("/fonts/muller-next/MullerNextWideTrial-ExtraBoldItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* MullerNextWideTrial Heavy */
@font-face {
  font-family: "MullerNextWideTrial";
  src: url("/fonts/muller-next/MullerNextWideTrial-Heavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* MullerNextWideTrial Heavy Italic */
@font-face {
  font-family: "MullerNextWideTrial";
  src: url("/fonts/muller-next/MullerNextWideTrial-HeavyItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* MullerNextExpandedTrial ExtraBold */
@font-face {
  font-family: "MullerNextExpandedTrial";
  src: url("/fonts/muller-next/MullerNextExpandedTrial-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}


:root {
  --bg: #ffffff;
  --text: #000000;
}

.dark {
  --bg: #ffffff;
  --text: #f5f5f5;
}

body {
  background: var(--bg);
  color: var(--text);
}


@layer utilities {
  .flex-gap_ {
    @apply flex gap-4;
  }

  .flex-center_ {
    @apply flex items-center justify-center;
  }
  .flex-between_ {
    @apply flex items-center justify-between;
  }
  .flex-end_ {
    @apply flex items-end justify-end;
  }
  .flex-start_ {
    @apply flex items-start justify-start;
  }

  .card_ {
    @apply rounded-xl p-4;
  }
  .font-expanded {
    font-family: "MullerNextExpandedTrial", "MullerNextWideTrial", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  .button-text_ {
    @apply relative transition-all duration-300 cursor-pointer;
  }
  .button-text_:hover {
    @apply text-red-500;
  }
  .button-text_::after {
    @apply absolute h-0.5 w-full bg-red-500 -bottom-1 left-0 content-[''] scale-x-0
      origin-bottom-right transition-transform duration-300;
  }
  .button-text_:hover::after {
    @apply scale-x-100 origin-bottom-left;
  }
  
  .multi-underline-group_ {
    background-image: linear-gradient(90deg, red, orange);
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: left bottom;

    text-decoration: none;
  }
  
  /* .group:hover .multi-underline-group_ {
    background-size: 100% 2px;
  } */

  .underline_ {
    @apply relative text-amber-400;
  }
  .underline_::after {
    @apply absolute h-0.5 w-full bg-amber-400 -bottom-1 left-0 content-[''] scale-x-100
      origin-bottom-right;
  }

  .text-gray_ {
    @apply text-gray-300 dark:text-gray-700;
  }

  .bg-gray_ {
    @apply bg-gray-200 dark:bg-gray-600;
  }

  .error-bg_ {
    @apply bg-red-100 dark:bg-red-800/20;
  }

  .error-accent_ {
    @apply bg-red-300 dark:bg-red-700;
  }

  .error-text-accent_ {
    @apply text-red-300 dark:text-red-900;
  }

  .loading-bg_ {
    @apply bg-gray-200 dark:bg-gray-600 animate-pulse;
  }

  .loading-accent_ {
    @apply text-gray-300 dark:text-gray-500;
  }
}
